.wrapper {
  text-align: center;
}

.button {
  border: 1px solid #222;
  background-color: #fea;
}

.todos {
  padding: 0px;
}

.delete-button {
  cursor: pointer;
}

.todos__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-text {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.completed-paper {
  background-color: #fce4ec;
}